#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(mtSCRABBLE, .registration = TRUE)
export(scrabble)
import(Rcpp)
import(rARPACK)
import(pracma)
import(reshape2)
import(methods)
import(dplyr)
